PUID=1000
PGID=999
TZ=Asia/Bangkok
USERDIR=/home/jakkrit/services/docker
MYSQL_ROOT_PASSWORD=Doradora

HTTP_USERNAME=admin
HTTP_PASSWORD=$apr1$TtDy.C1w$DP/PhqwL8ieWH7R5dERGW/
DOMAINNAME=ppsmartbot.com

DBUSER=root
DBPASS=root
DBNAME=homeassistant

WORDPRESS_DB_HOST=mariadb
WORDPRESS_DB_USER=ppsmart
WORDPRESS_DB_PASSWORD=ppsmartdb
WORDPRESS_DB_NAME=ppsmart_db
WORDPRESS_TABLE_PREFIX=wp_

WORDPRESS_DB_HOST_PROD=mariadb
WORDPRESS_DB_USER_PROD=ppsmart
WORDPRESS_DB_PASSWORD_PROD=ppsmartdb
WORDPRESS_DB_NAME_PROD=ppsmartproduct_db
WORDPRESS_TABLE_PREFIX_PROD=wp_
##################### ICECASTS ####################
ICECAST_SOURCE_PASSWORD_CHUM=chum123
ICECAST_ADMIN_PASSWORD_CHUM=chum123
ICECAST_PASSWORD_CHUM=chum123
ICECAST_RELAY_PASSWORD_CHUM=chum123

ICECAST_SOURCE_PASSWORD_PHI=phimai2018
ICECAST_ADMIN_PASSWORD_PHI=phimai2018
ICECAST_PASSWORD_PHI=phimai2018
ICECAST_RELAY_PASSWORD_PHI=phimai2018

ICECAST_SOURCE_PASSWORD_PHI2=phimai123
ICECAST_ADMIN_PASSWORD_PHI2=phimai123
ICECAST_PASSWORD_PHI2=phimai123
ICECAST_RELAY_PASSWORD_PHI2=phimai123

ICECAST_SOURCE_PASSWORD_KRICH=choke123
ICECAST_ADMIN_PASSWORD_KRICH=choke123 
ICECAST_PASSWORD_KRICH=choke123
ICECAST_RELAY_PASSWORD_KRICH=choke123

ICECAST_SOURCE_PASSWORD_KING=kingkan123
ICECAST_ADMIN_PASSWORD_KING=kingkan123
ICECAST_PASSWORD_KING=kingkan123
ICECAST_RELAY_PASSWORD_KING=kingkan123

DO_AUTH_TOKEN=c045cbb62c6c4c3981b086548902d0c5b2a41151f0e9e59bb21b8e71002b504a
